<md-card class="centreFormSmall">
    <md-tab-group>
        <md-tab label="Login">
            <br/>
            <form (submit)="logIn()">
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email" required/>
                </md-input-container>
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Password" type="password" name="password" minlength="6" pattern=".{6,}" title="6 characters minimum" [(ngModel)]="user.password" required/>
                </md-input-container>
                <button type="submit" md-raised-button class="smallBMargin">Login</button>
                <button md-raised-button class="smallBMargin">Forgot Password</button>
                <br class="smallBMargin">
                <md-progress-bar mode="indeterminate" [hidden]="!isLoading"></md-progress-bar>
            </form>
        </md-tab>
        <md-tab label="Register">
            <br/>
            <form (submit)="register()">
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Name" type="text" name="name" [(ngModel)]="newUser.name" required/>
                </md-input-container>
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="newUser.email" required/>
                </md-input-container>
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Confirm Email" type="email" name="confirmEmail" [(ngModel)]="newUser.confirmEmail" required/>
                </md-input-container>
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Password" type="password" name="password" minlength="6" [(ngModel)]="newUser.password" required/>
                </md-input-container>
                <md-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Confirm Password" type="password" name="confirmPassword" minlength="6" [(ngModel)]="newUser.confirmPassword" required/>
                </md-input-container>
                <button type="submit" md-raised-button class="smallBMargin">Register</button>
                <br class="smallBMargin">
                <md-progress-bar mode="indeterminate" [hidden]="!isLoading"></md-progress-bar>
            </form>
        </md-tab>
    </md-tab-group>
</md-card>