<mat-card class="centreFormSmall">
    <mat-tab-group>
        <mat-tab label="Login">
            <br/>
            <form (submit)="logIn()">
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email" required/>
                </mat-input-container>
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Password" type="password" name="password" minlength="6" pattern=".{6,}" title="6 characters minimum" [(ngModel)]="user.password" required/>
                </mat-input-container>
                <button type="submit" mat-raised-button class="smallBMargin">Login</button>
                <button mat-raised-button class="smallBMargin">Forgot Password</button>
                <br class="smallBMargin">
                <mat-progress-bar mode="indeterminate" [hidden]="!isLoading"></mat-progress-bar>
            </form>
        </mat-tab>
        <mat-tab label="Register">
            <br/>
            <form (submit)="register()">
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Name" type="text" name="name" [(ngModel)]="newUser.name" required/>
                </mat-input-container>
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="newUser.email" required/>
                </mat-input-container>
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Confirm Email" type="email" name="confirmEmail" [(ngModel)]="newUser.confirmEmail" required/>
                </mat-input-container>
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Password" type="password" name="password" minlength="6" [(ngModel)]="newUser.password" required/>
                </mat-input-container>
                <mat-input-container class="fullWidthPadded">
                    <input mdInput placeholder="Confirm Password" type="password" name="confirmPassword" minlength="6" [(ngModel)]="newUser.confirmPassword" required/>
                </mat-input-container>
                <button type="submit" mat-raised-button class="smallBMargin">Register</button>
                <br class="smallBMargin">
                <mat-progress-bar mode="indeterminate" [hidden]="!isLoading"></mat-progress-bar>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-card>