<md-card *ngIf="userUid" style="width: 90%; margin: auto;">
  <h2>Account Settings</h2>
  <form (submit)="saveAccountSettings()">
    <md-input-container class="fullWidth">
      <input mdInput placeholder="Default Lunch Duration" type="text" name="lunchDuration" [(ngModel)]="lunchDuration" />
    </md-input-container>
    <button md-raised-button type="submit">Save</button>
  </form>
  <h2>Email Verification</h2>
  <p [hidden]="!user.emailVerified">You email address is verified</p>
  <p [hidden]="user.emailVerified">You email address is not verified, <a class="link" (click)="sendVerification()">click here</a> to resend verification email</p>
  <h2>Change Password</h2>
  <form (submit)="saveNewPassword()">
    <md-input-container class="fullWidth">
      <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="newPassword" required/>
    </md-input-container>
    <md-input-container class="fullWidth">
      <input mdInput placeholder="Confirm Password" type="password" name="confirmPassword" [(ngModel)]="newPasswordConfirm" required/>
    </md-input-container>
    <button md-raised-button type="submit">Save</button>
  </form>
  <h2>Change Email</h2>
  <form (submit)="saveNewEmail()">
    <md-input-container class="fullWidth">
      <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="newEmail" required/>
    </md-input-container>
    <md-input-container class="fullWidth">
      <input mdInput placeholder="Confirm Email" type="email" name="confirmEmail" [(ngModel)]="newEmailConfirm" required/>
    </md-input-container>
    <button md-raised-button type="submit">Save</button>
  </form>
</md-card>