<form (submit)="confirmEntry()">
  <h1 mat-dialog-title style="min-width: 12em;">Add New Entry</h1>
  <mat-dialog-content>
    <mat-input-container class="fullWidthPadded">
      <input mdInput type="date" required name="date" placeholder="Date" [(ngModel)]="dayEntry.date" />
    </mat-input-container>
    <div class="fullWidthPadded">
      <label>Day Missed:&nbsp;</label>
      <mat-radio-group name="missed" [(ngModel)]="dayEntry.missed">
        <mat-radio-button value="0">No</mat-radio-button>&nbsp;
        <mat-radio-button value="1">Yes</mat-radio-button>
      </mat-radio-group>
    </div>
    <span [hidden]="dayEntry.missed == 1">
      <mat-input-container class="fullWidthPadded">
        <input mdInput type="text" name="startTime" placeholder="Start Time" [(ngModel)]="dayEntry.startTime" />
      </mat-input-container>
      <mat-input-container class="fullWidthPadded">
        <input mdInput type="text" name="endTime" placeholder="End Time" [(ngModel)]="dayEntry.endTime" />
      </mat-input-container>
      <mat-input-container class="fullWidthPadded">
        <input mdInput type="text" name="lunchDuration" placeholder="Lunch Duration" [(ngModel)]="dayEntry.lunchDuration" />
      </mat-input-container>
    </span>
    <span [hidden]="dayEntry.missed == 0">
      <mat-input-container class="fullWidthPadded">
        <input mdInput type="text" placeholder="Reason" name="missReason" [(ngModel)]="dayEntry.missReason"  [matAutocomplete]="auto" />
      </mat-input-container>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option value="Bank Holiday">
          Bank Holiday
        </mat-option>
        <mat-option value="Holiday">
          Holiday
        </mat-option>
        <mat-option value="Ill">
          Ill
        </mat-option>
      </mat-autocomplete>
    </span>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button >Confirm</button>
  </mat-dialog-actions>
</form>
