<md-card>
  <md-list>
    <md-list-item class="right fullWidth">
      <button md-raised-button (click)="addEntry()">New</button>
    </md-list-item>
    <md-list-item class="flexSpacedRow">
      <div>
        Date
      </div>
      <div>
        Start Time
      </div>
      <div>
        End Time
      </div>
      <div>
        Actions
      </div>
    </md-list-item>
    <md-list-item *ngFor="let day of days | async; let i = index" class="flexSpacedRow">
      <div>
        {{day.$key}}
      </div>
      <div>
        {{day.startTime}}
      </div>
      <div>
        {{day.endTime}}
      </div>
      <div>
        <button md-raised-button (click)="editEntry(day)">Edit</button>
        <button md-raised-button (click)="deleteEntry(day)">Delete</button>
      </div>
    </md-list-item>
  </md-list>
</md-card>
