<mat-card>
  <mat-grid-list cols="4" rowHeight="3.5em">
    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="date" placeholder="Start Date" id="startDate" name="startDate" [(ngModel)]="startDateInput" (change)="updateFilters()"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-form-field>
        <input matInput type="date" placeholder="End Date" id="endDate" name="endDate" [(ngModel)]="endDateInput" (change)="updateFilters()"/>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile>
      <i (click)="checkIn()" class="material-icons pointer" mdTooltip="Check In">call_received</i>
      <i (click)="checkOut()" class="material-icons pointer" mdTooltip="Check Out">call_made</i>
      <i (click)="addEntry()" class="material-icons pointer" mdTooltip="Add New">add</i>
      <i (click)="downloadData()" class="material-icons pointer" mdTooltip="Download">file_download</i>
    </mat-grid-tile>
    <mat-grid-tile>
      Date
    </mat-grid-tile>
    <mat-grid-tile>
      Duration
    </mat-grid-tile>
    <mat-grid-tile>
      Hours
    </mat-grid-tile>
    <mat-grid-tile>
      Actions
    </mat-grid-tile>
    <span *ngFor="let day of days | async; let i = index">
      <mat-grid-tile>
        {{day.$key | date:'dd/MM/y'}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{day.missed === '1' ? day.missReason : (day.startTime ? day.startTime : 'N/A') +' - '+(day.endTime ? day.endTime : 'N/A')}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{day.missed === '1' ? 0 : day.totalTime}}
      </mat-grid-tile>
      <mat-grid-tile>
        <i (click)="editEntry(day)" class="material-icons pointer" mdTooltip="Edit">edit</i>
        <i (click)="deleteEntry(day)" class="material-icons pointer" mdTooltip="Delete">delete</i>
      </mat-grid-tile>
    </span>
    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
