<md-card>
  <md-grid-list cols="4" rowHeight="3em">
    <md-grid-tile [colspan]="1">
      <label for="startDate">Start Date:&nbsp;</label>
      <input type="date" placeholder="yyyy/mm/dd" id="startDate" name="startDate" [(ngModel)]="startDateInput" (change)="startDate.next($event.target.value)"/>
    </md-grid-tile>
    <md-grid-tile [colspan]="1">
      <label for="endDate">End Date:&nbsp;</label>
      <input type="date" placeholder="yyyy/mm/dd" id="endDate" name="endDate" [(ngModel)]="endDateInput" (change)="endDate.next($event.target.value)"/>
    </md-grid-tile>
    <md-grid-tile [colspan]="1"></md-grid-tile>
    <md-grid-tile>
      <i (click)="addEntry()" class="material-icons pointer" mdTooltip="Add New">add</i>
    </md-grid-tile>
    <md-grid-tile>
      Date
    </md-grid-tile>
    <md-grid-tile>
      Start Time
    </md-grid-tile>
    <md-grid-tile>
      End Time
    </md-grid-tile>
    <md-grid-tile>
      Actions
    </md-grid-tile>
    <span *ngFor="let day of days | async; let i = index">
      <md-grid-tile>
        {{day.$key | date:'dd/MM/y'}}
      </md-grid-tile>
      <md-grid-tile>
        {{day.startTime}}
      </md-grid-tile>
      <md-grid-tile>
        {{day.endTime}}
      </md-grid-tile>
      <md-grid-tile>
        <i (click)="editEntry(day)" class="material-icons pointer" mdTooltip="Edit">edit</i>
        <i (click)="deleteEntry(day)" class="material-icons pointer" mdTooltip="Delete">delete</i>
      </md-grid-tile>
    </span>
    <md-grid-tile>

    </md-grid-tile>
  </md-grid-list>
</md-card>
