/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
body{
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
[hidden]{
    display: none !important;
}
.right{
    float: right;
}
.right .mat-list-item{
    justify-content: flex-end;
}
.fullWidth{
    width: 100%;
}
.fullWidthPadded{
    width: 95%;
    padding: 0 2.5%;
}
.smallBPadding{
    padding-bottom: 0.25em !important;
}
.smallBMargin{
    margin-bottom: 0.25em !important;
}
.centreFormSmall{
    margin: 2em auto;
    max-width: 360px;
    width: 95%;
}
.flexSpacedRow, .flexSpacedRow .mat-list-item{
    justify-content: space-between;
}
.pointer{
    cursor: pointer;
}
.profileIcon{
    width: 100%;
}
.link{
    text-decoration: underline;
    cursor: pointer;
}